body{
    position: relative;
}

.pop_title{
    font-size: 20px;
    font-weight: bold;
}
/* 轮播 */
.carouselBox{
    position: relative;
    overflow: hidden;
    width: 100%;
    /* top: 120px; */
    top: 40px;
}

.carouselBox .imgMd{
   right:2rem;
   top:46%;
   margin-top: -3.2rem;
   z-index: 99;
}
.carouselBox .imgMd ul li {
    width: 2rem;
}
.carouselBox .imgMd .cuur {
    box-shadow: 0px 0px 10px #f55f5a;
}

.carouselBox .imgLg>div{
    display: none;
} 
.carouselBox .imgLg picture{
    opacity: 0.9;
}
.carouselBox .imgLg picture+div{
    top:22%;
    left:10%;
    color:#fff;
    font-size: 1.4rem;
    width: 38%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow: ellipsis;
}

.carouselBox .imgLg picture+div span{
    font-size: 1.2rem;
}
.carouselBox .imgLg .first {
    display: block;
}


.popMovie p{
    color: #37a;
    text-align: center;
}
/* .popMovie p strong{

} */
#comments{
    box-sizing: border-box;
}
.comments-item{
   border-bottom: 1px solid #ccc;
}

.orderByWeek tr{
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}
.orderByWeek tr td:first-child{
    text-align: right;
    width: 8%;
}
.orderByWeek tr td:last-child{
    text-align: left;
    text-indent: 10px;
}

 @media screen and (max-width:375px){
    .carouselBox .imgMd ul li {
        display: none;
    }
    .destination #tab_menu li{
        font-size: 0.4rem;
    }
    .carouselBox .imgLg picture+div{
        display: none;
    }
    .carouselBox  .link>a:first-child{
        display: none;
    }
     .carouselBox  .link a{
        font-size: 0.8rem;
    }
    .orderWeekBox{
        display: none;
    }

}

@media screen and (min-width:375px) and (max-width:768px){
    .carouselBox  .imgMd ul li {
        display: none;
    }
     .carouselBox .imgLg picture+div{
       display: none;
    }
    .carouselBox .imgLg .link a{
        display: none;
    } 
}

@media screen and (min-width:768px) and (max-width:1200px){
    .carouselBox  .imgMd ul li {
        width:1.4rem;
    }
    .carouselBox .imgMd{
       right:2rem;
       top:50%;
       margin-top: -2rem;
       z-index: 99;
    }
}
